.employees {
  width: 1040px;
  margin: 50px auto 0;
  padding: 0 20px;

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    margin: 5px 0;
  }

  &__btn {
    display: block;
    width: 140px;
    padding: 10px;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: bold;
    background: transparent;
    border: 2px solid black;
    outline: none;
    cursor: pointer;
  }
}

.employees-table {
  margin: 20px 0;
  width: 100%;
  border-collapse: collapse;

  &__row {
      border: 1px solid lightgray;
      padding: 5px;
      text-align: left;
      color: black;

    &--header {
      background-color: skyblue;
    }
  }

  &__item {
    padding: 5px;
    border: 1px solid gray;
    line-height: 1.5;
    letter-spacing: 1px;
    font-size: 14px;
  }

  &__action {
    padding: 0 5px;
    color: inherit;
    text-decoration: underline;
    font-weight: bold;
    &:last-child::before {
      content: "|";
      padding-right: 5px;
    }
  }
}

.notAvailable {
  color: gray;
}


